# by J0sueTM

# folders
__pycache__/
.idea/
.vscode/
backend/credentials/*.json
backend/data/search/*.json
backend/data/*.json

# whitelist
!backend/credentials/
!backend/data/search/

# files
*.class
